@font-face {
    font-family: F16;
    src: url("/assets/fonts/STIXTWoText-Regular.ttf") format('truetype');
    font-weight: regular;
    font-style: normal;
}

body {
  font-family: "STIX Two Text";
  background-color: ivory;
}
