@font-face {
  font-family: STIXTwoText;
  src: url("../fonts/STIXTWoText-Regular.ttf");
}
@font-face {
  font-family: STIXTwoText;
  src: url("../fonts/STIXTWoText-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: STIXTwoText;
  src: url("../fonts/STIXTWoText-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: STIXTwoText;
  src: url("../fonts/STIXTWoText-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

body,h1,p {
  font-family: STIXTwoText, serif;
  background-color: ivory;
}
